---json
{
  "title": "Sandbox",
  "layout": "layouts/main",
  "listOnPrototypesPage": true
}
---

  <h1>Sandbox</h1>

  <h2>Included:</h2>
  
  <output>
    {% include './prototypes/sandbox/test.js' %}
  </output>
  

  <h2>Minified:</h2>
  
  <output>
{% capture js %}
    {% include './prototypes/sandbox/test.js' %}
{% endcapture %}
{{ js | jsmin }}
  </output>
  
